<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>

    <!--/*-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <!--*/-->

    <th:block th:replace="~{assets/html/base::head}"></th:block>
</head>
<body>
<header th:replace="~{assets/html/base::header}"></header>
<main class="container my-5">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h2 class="mb-4">Sign In</h2>
            <form name="signin" method="post"
                  th:action="@{/signin}"
                  th:object="${user}">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                           th:field="*{email}"
                           th:errorclass="is-invalid">
                    <label for="email">Email</label>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}">Email error</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           th:field="*{password}"
                           th:errorclass="is-invalid">
                    <label for="password">Password</label>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}">Password error</div>
                </div>
                <div class="form-floating mb-4 d-flex justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberMe" name="remember-me">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <a class="link-secondary" href="#" th:href="@{/users/password/remind}">Forgot password?</a>
                </div>
                <div class="form-floating d-flex justify-content-between mb-4">
                    <button class="btn btn-primary btn-lg" type="submit">Sign In</button>
                    <span class="text-secondary align-self-center">Need an account? <a class="link-primary" href="#" th:href="@{/signup}">Sign Up</a></span>
                </div>
                <th:block th:replace="~{assets/html/alert::form}"></th:block>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{assets/html/base::footer-base}"></footer>
</body>
</html>